{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Other meta tags, title, and head content go here -->
    <link rel="stylesheet" href="{% static 'register.css' %}">
</head>

<body>
    <!-- Your content and other body content go here -->

    <!-- JavaScript libraries -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-KtLEtPjIAK3iIvhH4lO6KAqXapjweKjQb8Ck+3pZpxhme5bO9w8Yp1zlf1JoEqFa"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
            integrity="sha384-A-wc3Cg3s57RJ4x0ZuWJpZlA1Nl+8Ea8HfOZB8Xn8CA0lT6PWfjWEWi5yG0GsXI"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-PDle/QlgIONt8hj8eZzzRUzmZaGk6jlYR0a2aWX+Xn0ugoPk1Fkw5IbsJ66z1+XJ"
            crossorigin="anonymous"></script>
    <script src="{% static 'password_reset.js' %}"></script>
</body>

</html>
