{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
    <div class="container">
        <div class="password-reset-form mt-5">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title mb-4">Reset Password</h2>
                    <form method="post" action="{% url 'password_reset' %}" id="password-reset-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                            <div id="error-message" class="text-danger mt-2"></div> <!-- Error message element -->
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mt-4">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
